[submodule "Semester-1/Advanced-Programming-Cluster/Assessment/Adv-Prg-Port1"]
	path = Semester-1/Advanced-Programming-Cluster/Assessment/Adv-Prg-Port1
	url = https://github.com/Nathan-Bransby-NMT/Adv-Prg-Port1.git
