[submodule "Semester-1/Advanced-Programming-Cluster/Assessment/Adv-Prg-Port1"]
	path = Semester-1/Advanced-Programming-Cluster/Assessment/Adv-Prg-Port1
	url = https://github.com/Nathan-Bransby-NMT/Adv-Prg-Port1.git
[submodule "Semester-1/Customise-CMS-Wordpress/Assessment-1/Part-1/AT1pt1-CMS-ChildTheme"]
	path = Semester-1/Customise-CMS-Wordpress/Assessment-1/Part-1/AT1pt1-CMS-ChildTheme
	url = https://github.com/Nathan-Bransby-NMT/AT1pt1-CMS-ChildTheme.git
[submodule "Semester-1/Front-End-SaaS/Assessments/SaaS-Portfolio"]
	path = Semester-1/Front-End-SaaS/Assessments/SaaS-Portfolio
	url = https://github.com/Nathan-Bransby-NMT/SaaS-Portfolio.git
